---
layout: page
title: Officers
permalink: /officers/
---

<section class="portfolio-area section-gap" id="portfolio">
	<div class="container">
		<div class="filters-content">
			<div class="row grid">
				{% for officer in site.data.officers %}
				<div class="single-portfolio col-sm-4 all vector">
					<div class="relative">
						<div class="thumb">
						 <img class="image img-fluid" src="{{ officer.portrait_path }}" alt="">
						</div>
					</div>
					<div class="p-inner">
						<h4>{{ officer.name }}</h4>
						<div class="cat">{{ officer.title }}</div>
						<div class="cat">
							{% if officer.website %}
								<a href="{{ officer.website.url }}">Website</a>
							{% endif %}
							{% if officer.website and officer.github %} | {% endif %}
							{% if officer.github %}
								<a href="{{ officer.github.url }}">GitHub</a>
							{% endif %}
							{% if officer.github and officer.email %} | {% endif %}
							{% if officer.github %}
								<a href="mailto:{{ officer.email }}">Email</a>
							{% endif %}
							{% if officer.email and officer.linkedin %} | {% endif %}
							{% if officer.linkedin %}
								<a href="{{ officer.linkedin.url }}">LinkedIn</a>
							{% endif %}
						</div>
					</div>					                               
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
