<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4 class="colored-text">2019-2020 Pitt CSC</h4>
                    {% for officer in site.data.officers %}
                    <li class="colored-text">{{ officer.title }} - {{ officer.name }}</li>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Mailing List</h4>
                    <p class="colored-text">Sign up for our mailing list to be up to date on all things CSC. 
                        <div>
                            <a href="http://eepurl.com/bgY5c9" target="_blank">Link to Mailing List Registration Form</a>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h4>Follow the CSC</h4>
                    <p class="colored-text">Hit us up!</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="http://instagram.com/pittcsc"><i class="fa fa-instagram"></i></a>
                        <a href="http://twitter.com/pittcsc"><i class="fa fa-twitter"></i></a>
                        <a href="http://github.com/pitt-csc"><i class="fa fa-github"></i></a>
                        <a href="http://pittcsc.slack.com"><i class="fa fa-slack"></i></a>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>