<footer class="footer-area">
    <div class="container">
        <div class="row py-4 justify-content-between">
            <div class="col-lg-4 col-md-5 mt-4">
                <div class="single-footer-widget">
                    <h4 class="colored-text">{{ site.current_class }}-{{ site.current_class | plus: 1 }} Pitt CSC Officers</h4>
                    {% for officer in site.data.officers %}
                        {% if officer.position == "e-board" %}
                            <li class="colored-text">{{ officer.title }} - {{ officer.name }}</li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-4">
                <div class="single-footer-widget">
                    <h4>Mailing List</h4>
                    <p class="colored-text">Sign up for our mailing list to be up to date on all things CSC. 
                        <div>
                            <a href="http://eepurl.com/bgY5c9" target="_blank">Link to Mailing List Registration Form</a>
                        </div>
                    </p>
                </div>
                <div class="donation-wrapper">
                    <style>
                        .donation-wrapper button {
                            border-radius: 2px;
                            border: 1px solid #c1af7a;
                            background: #cab57c;
                            margin-right: 5px;
                        }
                        .hide {
                            display: none;
                        }
                    </style>
                    <div id="donation-button">
                        <button id="donate-button">DONATE!</button>
                    </div>
                    <div id="money-buttons" class="hide">
                        <button class="donation-money-button" data-price-id="price_1I3XcNHVuS89JQvcSR0Kqrfv">$5</button>
                        <button class="donation-money-button" data-price-id="price_1I3XcJHVuS89JQvctfU0y3ML">$15</button>
                        <button class="donation-money-button" data-price-id="price_1I3XcEHVuS89JQvcmLgjouqN">$35</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 social-widget mt-4">
                <div class="single-footer-widget">
                    <h4>Follow the CSC</h4>
                    <p class="colored-text">Hit us up!</p>
                    <div class="footer-social d-flex justify-content-around mt-4">
                        <a href="http://instagram.com/pittcsc"><i class="fa fa-2x fa-instagram"></i></a>
                        <a href="http://linkedin.com/company/pittcsc"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="http://github.com/pittcsc"><i class="fa fa-2x fa-github"></i></a>
                        <a href="http://pittcsc.slack.com"><i class="fa fa-2x fa-slack"></i></a>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>