<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li class="menu-has-children"><a href="https://calendar.google.com/calendar/embed?src=pittcsc@gmail.com">Events</a>
               <li><a href="officers.html">Officers</a></li>
              <li class="menu-has-children"><a href="sponsors.html">Sponsors</a>
              </li>					          					          		          
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
  </header><!-- #header -->