<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="/"><img src="/img/logo.png" alt="" title=""/></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <!-- <li class="menu-has-children"><a href="https://calendar.google.com/calendar/embed?src=pittcsc@gmail.com">Events</a> -->
              <li><a href="/officers">Officers</a></li>
              <!-- <li><a href="/sponsors">Sponsors</a></li>					          					          		           -->
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav> 		
        </div>
    </div>
  </header>