<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="/"><img src="/img/logo.png" alt="" title=""/></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/join">Join</a></li>
              <li><a href="/team">Team</a></li>
              <li><a href="/sponsors">Sponsors</a></li>					          					          		          
              <li><a href="/contact">Contact</a></li>
              <li class="menu-has-children"><a href="https://medium.com/@pittcsc">Blog</a>
            </ul>
          </nav> 		
        </div>
    </div>
  </header>